// Primary Color
$primary: #D0541E;
$secondary: #DBE0E2;

// Dark Colors
$dark: #1E1E1E;

// Gray Scale
$gray-1: #F2F2F2;
$gray-2: #DADADA;
$gray-3: #DBE0E2;
$gray-4: #ABB5BA;
$gray-5: #AAA;
$gray-6: #5A6B74;

// Bootstrap override variables
$border-radius: 8px;