.footer {
    background-color: $gray-1;
    padding: 40px 0;

    .logo {
        width: 100px;
    }

    .menu-items {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .item-title {
            font-size: 16px;
            font-weight: 500;
        }
        
        .item-desc {
            font-size: 13px;
            font-weight: 400;
        }
        
        .item-contact {
            font-size: 16px;
        }

        .item-socials {
            a {
                margin-right: 20px;
            }
        }

        a {
            color: $gray-6;
            text-decoration: none;
        }
    }
}